<form method="POST" action="{% if action_url %} {{ action_url }} {% else %} {% url 'accounts:login' %} {% endif %}">
    {% csrf_token %}
    {% if next_url %}
        <input type="hidden" name="next" value="{{ next_url }}">
    {% endif %}
    <div class="form-group">
        {% if address_type %}
            <input type="hidden" name="address_type" value="{{ address_type }}">
        {% endif %}
        {{ form.as_p }}
    </div>
    <button type="submit" class="btn btn-success">Save</button>
</form>