<script>
    $(document).ready(function () {
        let productForm = $('.form-product-ajax');
        productForm.submit(function (e) {
            e.preventDefault();
            let thisForm = $(this);
            let actionEndPoint = thisForm.attr('action');
            let httpMethod = thisForm.attr('method');
            let formData = thisForm.serialize();

            $.ajax({
                url: actionEndPoint,
                method: httpMethod,
                data: formData,
                success: function (data) {
                    let submitSpan = thisForm.find('.submit-span');
                    if (data.added && data.removed === false) {
                        submitSpan.html('In Cart <button type="submit" class="btn btn-link">Remove ?</button>');
                    }
                    if (data.removed && data.added === false) {
                        submitSpan.html('<button type="submit" class="btn btn-success">Add to cart</button>');
                    }
                    let navCount = $('.nav-cart-count');
                    navCount.html(data.cartItemCount + '<i class="fas fa-shopping-cart">');

                    let currentPath = window.location.href;

                    if (currentPath.indexOf('cart') !== -1 ) {
                        refreshCart();
                    }
                },
                error: function (errorData) {
                    $.alert({
                        title: 'Oops !',
                        content: errorData,
                        theme: 'modern',
                    });
                }
            });

            function refreshCart() {
                let currentUrl = window.location.href;
                let cartTable = $('.cart-table');
                let cartBody = cartTable.find('.cart-body');
                let productRows = cartBody.find('.cart-products');

                let refreshCartUrl = thisForm.attr('data-endpoint');
                let refreshCartMethod = 'GET';
                let data;

                $.ajax({
                    url: refreshCartUrl,
                    method: refreshCartMethod,
                    data: data,
                    success: function (data) {

                        let hiddenCartItemForm = $('.cart-item-remove-form');

                        if ( data.products.length > 0) {
                            productRows.html("");
                            let i = 1;
                            $.each(data.products, function (index, value) {
                                let newCartItemRemove = hiddenCartItemForm.clone();
                                newCartItemRemove.css('display', 'block');
                                newCartItemRemove.find('.cart-item-product-id').val(value.id);

                                cartBody.prepend('<th scope="row">'+ i +'</th>\n' +
                                '<td><a href="'+ value.url +'">'+ value.title+'</a></td>\n' +
                                '<td>'+ value.price +'</td>' +
                                    '<td>'+ newCartItemRemove.html() +'</td>');
                                i++;
                            });
                            cartBody.find('.cart-subTotal').text(data.subTotal);
                            cartBody.find('.cart-total').text(data.total);
                        } else {
                            window.location.href = currentUrl;
                        }
                    },
                    error: function (errorData) {
                        $.alert({
                            title: 'Oops !',
                            content: errorData,
                            theme: 'modern',
                        });
                    }
                });
            }
        });
    });
</script>