{% extends "base.html" %}
{% block title %}
    {{ object.title }}
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <small>{{ object.created_at|timesince }} ago</small>
            <h2>{{ object.title }}</h2>
            <img src="{{ object.image.url }}" width="500">
            <p>{{ object.description|linebreaks }}</p>
        </div>
        <div class="col-12 col-md-6">
            {% include "products/snippets/update-cart.html" with product=object cart=cart %}
        </div>
    </div>
{% endblock %}

{% block bottom %}
    <script>
        $(document).ready(function () {
            var productForm = $('.form-product-ajax');
            productForm.submit(function (e) {
                e.preventDefault();
                let thisForm = $(this);
                let actionEndPoint = thisForm.attr('action');
                let httpMethod = thisForm.attr('method');
                let formData = thisForm.serialize();

                $.ajax({
                    url: actionEndPoint,
                    method: httpMethod,
                    data: formData,
                    success: function (data) {
                        let submitSpan = thisForm.find('.submit-span');
                        if (data.added && data.removed === false) {
                            submitSpan.html('In Cart <button type="submit" class="btn btn-link">Remove ?</button>');
                        }
                        if (data.removed && data.added === false) {
                            submitSpan.html('<button type="submit" class="btn btn-success">Add to cart</button>');
                        }
                        let navCount = $('.nav-cart-count');
                        navCount.html(data.cartItemCount + '<i class="fas fa-shopping-cart">')
                    },
                    error: function (errorData) {
                        console.log("error");
                        console.log(errorData);
                    }
                });
            });
        });
    </script>
{% endblock %}