{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
    {% include "base/css.html" %}
</head>
<body>

{% include "base/navbar.html" with site_title='Hope Ecommerce' %}

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    {% include "base/js.html" %}

    {% block bottom %}{% endblock %}

    <script>
        $(document).ready(function () {
            let searchForm = $('.search-form');
            let searchInput = searchForm.find("[name='q']"); // input name='q'
            let searchBtn = searchForm.find("[type='submit']");
            let typingTimer;
            let typingInterval = 500; // .5 seconds

            searchInput.keyup(function (e) {
                // key released
                clearTimeout(typingTimer);
                typingTimer = setTimeout(performSearch, typingInterval);
            });

            searchInput.keydown(function (e) {
                // key pressed
                clearTimeout(typingTimer);
            });

            function displaySearch() {
                searchBtn.attr('disabled', 'true');
                searchBtn.html("<i class='fa fa-spin fa-spinner'></i>Searching...");
            }

            function performSearch() {
                displaySearch();
                let query = searchInput.val();
                setTimeout(function () {
                    window.location.href = '/search/?q=' + query;
                }, 1000);
            }

        });


    </script>
</body>
</html>